#--------------------------------------------------------------------
# Sample config file for EPREM
#--------------------------------------------------------------------

#---------Grid Parameters--------------------------------------------

# Number of rows per face.
numRowsPerFace=1

# Number of columns per face.
numColumnsPerFace=1

# Number of nodes per stream.
numNodesPerStream=100

# Number of energy levels.
numEnergySteps=10

# Number of pitch angle steps. 
numMuSteps=9


#---------Physical Parameters----------------------------------------

# Location of inner boundary [au].
rScale=0.00465047

# Simulation start time [day].
simStartTime=0.0

# Simulation stop time [day].
simStopTime=1.0

# Simulation time-step [day].
tDel=0.5

# Minimum and Maximum Energies [MeV/nucleon].
eMin=1.0
eMax=1000.0

# Mean-free-path at 1 AU and 1 GV [au].
lamo=0.1

# Efficiency of perp diffusion (Kper/Kpar) [unitless].
kperxkpar=0.01


#----------Source Population Parameters------------------------------

# Amplitude of reference flux at 1 au [number / (cm^2*s*sr*MeV/nuc)].
boundaryFunctAmplitude=1.0

# Ratio of reference species to H [unitless].
boundaryFunctXi=1.0

# Energy power-law index [unitless].
boundaryFunctGamma=1.5

# Radial power-law index [unitless].
boundaryFunctBeta=2.0

# Exponential roll-over energy [MeV].
boundaryFunctEcutoff=1.0


#----------Ideal Shock Parameters-----------------------------------------------

# Use idealized shock [boolean].
idealShock=0

# Affects the shock factor, which radially scales MHD quantities [unitless].
idealShockSharpness=1.0

# Exponential scale length of shock variation [au].
idealShockScaleLength=0.0046491

# Rankine-Hugoniot shock strength [unitless].
idealShockJump=4.0

# Speed of shock [cm/s].
idealShockSpeed=1000.0e5

# Start time of shock [day].
idealShockInitTime=0.5

# Co-latitude [radian] -- pi/2 is on the equator.
idealShockTheta=1.570796327

# Azimuth [radian] -- 0.0 is centered on one face.
idealShockPhi=0.0

# Opening angle of shock cone.
idealShockWidth=0.01745329252


#---------Background Solar Wind Parameters--------------------------------------

# Flow velocity of background constant solar wind [cm/s].
flowMag=400.0e5

# Number density at 1 au [cm-3].
mhdDensityAu=8.30

# Magnetic field at 1 au [G].
mhdBAu=1.60e-5


#---------Particle Species Parameters---------------------------------------

# Number of particle species.
numSpecies=1

# Mass of each species [nuc].
mass=[1.0]

# Charge of each species [e].
charge=[1.0]


#----------Point Observer Parameters-------------------------------------------

# Number of point observers. May be 0.
numObservers=0

# List of observer positions. Lengths need to be equal to numObservers.
obsR=[1.0,1.0]                        # Radial position [au]
obsTheta=[1.570796327,1.570796327]    # Co-latitude [radian]
obsPhi=[5.143485306,3.141592654]      # Azimuth [radian]


#----------IO Parameters---------------------------------------------

# Output all MHD and particle data for every node along streams [boolean].
unifiedOutput=1

# Output pre-computed flux instead of the particle distribution [boolean].
streamFluxOutput=0

# Output position data for entire domain [boolean].
epremDomain=1

# Number of steps at which to output restart files [unitless].
dumpFreq=1

# Output values in single precision to save disk space [boolean].
outputFloat=0


#---------Advanced Options and Parameters---------------------------------------

# The number of substeps for EP computation.
numEpSteps=20

# Use parallel diffusion [boolean].
useParallelDiffusion=1

# Use adiabatic change [boolean].
useAdiabaticChange=1

# Use adiabatic focusing [boolean].
useAdiabaticFocus=1

# negative slope of f at the lower energy boundary [unitless].
gammaElow=0.0

# negative slope of f at the upper energy boundary [unitless].
gammaEhigh=0.0

# Weighting factor for point-observer interpolation [unitless].
idw_p=3.0

# Initialize particle source function over entire domain [boolean].
boundaryFunctionInitDomain=1

# Reset distribution if it drops below background [boolean].
checkSeedPopulation=1

# Solar rotation rate [rad/au/c].
omegaSun=0.001429813

# Couple on the sub-timesteps [boolean].
subTimeCouple=0

# Dump out fail mode values [boolean].
FailModeDump=1

#-------------------------------------------------------------------------------


